*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    line-height:1.6;
    background:#f4f4f4;
}

/* Header */

header{
    background:#333;
    color:white;
    text-align:center;
    padding:40px;
}

/* About */

#about{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;

    padding:50px;
}

#about img{
    width:200px;
    border-radius:50%;
}

/* Sections */

section{
    padding:40px;
}

/* Skills */

#skills ul{
    list-style:none;
}

#skills li{
    background:#333;
    color:white;
    display:inline-block;
    margin:10px;
    padding:10px 20px;
    border-radius:5px;
}

/* Projects */

.project-card{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
}

/* Resume */

#resume a{
    background:#333;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
}

/* Footer */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}